<div class="pizza-page">


  <h2 class="page-title" style="color: white;">Enter the details of pizzas</h2>

  <div class="form-card">
    
    <!--<input placeholder="Name of pizza" [(ngModel)]="pizza.name">-->
    <select [(ngModel)]="pizza.name" (change)="onPizzaSelect(pizza.name)">
  <option value="">Select Pizza</option>
  <option *ngFor="let p of pizzaMenu" [value]="p.name">
    {{ p.name }}
  </option>
  </select>


    <!--<select [(ngModel)]="pizza.type">
      <option value="veg">Veg</option>
      <option value="non-veg">Non Veg</option>
    </select>-->
    <select [(ngModel)]="pizza.type" disabled>
  <option value="veg">Veg</option>
  <option value="non-veg">Non Veg</option>
</select>


    <!--<input placeholder="Ingredients" [(ngModel)]="pizza.ingredients">-->
    <label>Ingredients:</label>
<div *ngFor="let ing of ingredientsList">
  <input type="checkbox"
         [value]="ing"
         (change)="toggleSelection(pizza.ingredients, ing)">
  {{ ing }}
</div>

    <!--<input placeholder="Toppings" [(ngModel)]="pizza.toppings">-->
    <label>Toppings:</label>
<div *ngFor="let top of toppingsList">
  <input type="checkbox"
         [value]="top"
         (change)="toggleSelection(pizza.toppings, top)">
  {{ top }}
</div>

    <!--<input type="number" placeholder="Price" [(ngModel)]="pizza.price">-->
    <input type="number" [value]="pizza.price" readonly>

    

    <button class="add-btn" (click)="addPizza()">Add Pizza</button>
  </div>

  <div class="filter-bar">
    <select (change)="onFilterChange($event)">
      <option value="all">All Pizzas</option>
      <option value="veg">Veg Only</option>
      <option value="non-veg">Non Veg Only</option>
    </select>
  </div>

  <div class="pizza-grid">
    <div class="pizza-card" *ngFor="let p of filteredPizzas">
      


      <div class="pizza-info">
        <h3>{{ p.name }}</h3>

        <span class="badge" [class.veg]="p.type==='veg'" 
                            [class.nonveg]="p.type==='non-veg'">
                            {{ p.type }}
        </span>

        <p><b>Ingredients:</b> {{ p.ingredients }}</p>
        <p><b>Toppings:</b> {{ p.toppings }}</p>

        <div class="price">₹{{ p.price }}</div>
      </div>

      <div class="card-actions">
        <button class="cart-btn" (click)="addToCart(p)">Add to Cart</button>
        <button class="delete-btn" (click)="deletePizza(p.id)">Delete</button>
      </div>

    </div>
  </div>

</div>
